/* defualt */
BODY,
TD,
input,
DIV,
form,
TEXTAREA,
center,
pre,
blockquote,
select,
option {
  font-size: 12px;
  color: #333333;
  font-family: fantasy;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body > #root {
  height: 100vh;
}
